.btn{
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  margin: 0 5px;
}

.btn-primary{
  background-color: #36c;
  color: #fff;
  border: 1px solid #36c;
}

.btn-default{
  background-color: lightgray;
  color: #000;
  border: 1px solid lightgray;
}
